### Node template
# Bower dependency directory (https://bower.io/)
bower_components
bower_components/

# Dependency directories
node_modules
node_modules/
jspm_packages/

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


### User template project files
!.gitkeep
tmp


### IntelliJ project files
.idea
*.iml
out
gen


### macOS template
.DS_Store
*.DS_Store
# Thumbnails
._*
